.grid-child {
    border-style: solid;
    border-radius: 25px;
    padding: 25px;
    background-color: aqua;
    aspect-ratio: 1;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: none;
    justify-content: space-around;
    padding-top: 1%;
    gap: 5% 2%;
}